<div class="app-card-container">
  <div class="card">
    <h1>Would you like to work together?</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Home</h3>

        <p>588 W Valley View Dr, Saratoga Springs, UT 84045</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "9285834580" %></p>

        <h3>Email</h3>

        <p><a href="mailto:ian.cobb1997@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.365050065837!2d-111.93161088415086!3d40.33424727937479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d794a116809f3%3A0x99e5dd30889a3a00!2s588+W+Valley+View+Dr%2C+Saratoga+Springs%2C+UT+84045!5e0!3m2!1sen!2sus!4v1509424904184" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>