<div class="inner cover">
  <h1 class="cover-heading">Welcome!</h1>
  <p class="lead">I am a new developer looking to get into the industry. I am very excited to start this journey. I am loving coding and cannot wait to learn more.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>